@import "variables";

.publishments {
    margin-left: 255px;
    background-color: #f5f5f5;
    overflow: auto;
    
    .g-file {
        &__label {
            margin: 0;
            margin-bottom: 16px;
            max-width: 334px;
            padding: 53px 28px 53px;
        }
    }

    .catalog {
        &-add {
            &__textarea {
                min-height: 166px;
            }
        }
    }
}